@model PROT14.Web.Util.DataTables.DataTableConfigVm

<div id="@(Model.Id + "_Col1")">
    <div class="l1 oneline">data[1] <small>data[2]</small></div>
    <div class="l1 oneline"><i class="l2">data[4]</i>&nbsp;<small>[data[3]]</small><div class="fi-euro ddata[5]"></div><div class="fi-alert ddata[6]"></div></div>
</div>
